.drawBoard {
	margin: 20px auto;
	border: 2px solid #0d94a3;

    .scatterPlot {
        

        .xAxis,.yAxis {

            path {
                fill: none;
                stroke: #4e8cb3;
                shape-rendering: crispEdges;
            }
            .tick {

                text {
                    font-family: sans-serif;
                    font-size: 11px;
                }

                line {
                    stroke: #4e8cb3;
                }
            }

        }
    }

}


